[2012-11-19 16:29] VanCoding opened #1 "Add 'drain'-event"
Is it possible to add the 'drain'-event?

I looked at the WebSocket specification and there is no such event and I'm not sure if there's a way to do it. But it would be great!

Maybe, you have any idea on how to implement it...

[2012-12-18 15:50] heapwolf opened #2 "message event"
I'm not sure how/why `e` has an assumed structure (https://github.com/maxogden/websocket-stream/blob/master/index.js#L35). I replaced this with `e.data || e` but perhaps there was some other intent here that I'm not aware of.

Also, I was trying to do something like `levelup.readStream({ limit: 10 }).pipe(stream);` on the server and it didn't work. I think pipe might be broken because the `data` e

[2013-01-05 01:20] #2 closed, assigned to nobody

[2013-03-30 15:14] andreypopp opened #4 "Implement .unpipe()"
It would be nice to have `.unpipe()` implemented or how else I can cleanup on disconnect?

[2013-05-03 08:21] rawberg opened #5 "Connect through an existing stream?"
I'm trying to connect to a websocket server through an existing [ssh stream](https://github.com/mscdex/ssh2). Client and server are both running node but one is on a remote server only accessible through ssh (via port forwarding).

Can the initial connection happen over an existing stream while still capturing a reference to it?

[2013-05-26 02:52] NeCkEr opened #9 "Error: not opened"
Hi

I'm trying to use your module with JSONStream but every time i close the client connection i get `Error: not opened`

Example:

[code]

I have no clue why this is happening, maybe i'm doing something wrong...

PS: this code works with `shoe` streams

[2013-06-16 19:35] #5 closed, assigned to nobody

[2013-06-17 02:29] rawberg opened #11 "Correctly Handling 401 Response From Server (verifyClient)?"
I'm using websocket-stream on the client and the server (thanks for the sharing). When I configure a verifyClient function the ws module will return a [401 response from it's abortConnection method](https://github.com/einaros/ws/blob/master/lib/WebSocketServer.js#L419) when the verification doesn't succeed.

Right now that dumps an ugly error message on the client.

[code]

 That happens before th

[2013-06-26 06:56] #11 closed, assigned to nobody

[2013-06-30 19:32] NHQ opened #15 "Browser version has no method '.on'"
this code works on the server but not on the browser:

[code]

[code]

[2013-06-30 22:40] #15 closed, assigned to nobody

[2013-07-25 14:51] fabslab opened #16 "Question about the reasons for this module"
I'm just curious about the reasons for implementing (and using) this module when there was something like [binaryjs](https://github.com/binaryjs/binaryjs) in development. For fun? Or do they differ in important ways?
Thanks.

[2013-07-25 18:40] #16 closed, assigned to nobody

[2013-07-28 09:54] ken-okabe opened #17 "demo-bundle.js does not exist on index.html"
Thanks.

[2013-07-28 16:35] #17 closed, assigned to nobody

[2013-08-13 12:09] dominictarr opened #18 "use bops?"
so, hunting down the issue with level-replication-test
got it working in with json-buffer,
but websocket-stream is accepting a `Uint8Array`, (which goes through correctly)
but outputting a `ArrayBuffer`

I think that is the problem... we want `Uint8Array` instead,
otherwise, bops probably needs to be updated to read from ArrayBuffer if that is not possible...

[2013-08-13 22:36] #18 closed, assigned to nobody

[2013-09-03 06:45] mcollina opened #21 "Support Buffer in the browser"
It is possible to support Buffer in the browser, by converting between ArrayBuffers into Buffers using [uint8](https://npmjs.org/package/uint8).
It seems much better and node-ish.

I'll submit a pull-request and add it behind an option if you think it's worth having.

[2013-12-07 14:53] manuelsantillan opened #25 "WebsocketStream.prototype.write does not honor streams2 interface"
The module is overwritting the write method of writable streams, but it does not accept encoding, callback or return true. Since this method is only buffering data if the connection is not open, ¿why doesn't it just buffer data in the _write method and leave the standard write method of the superclass?

My use case is that I'm trying to write directly to the stream some calculated data prior to pi

[2013-12-07 14:56] manuelsantillan opened #26 "WebsocketStream constructor does not pass options to superconstructor"
This means that the caller cannot adjust the buffering size (highWaterMark) nor the decodeStrings option.

[2013-12-13 17:15] pablocaselas opened #27 "Use readyState instead of private vars"
Why are you using _open , _close and _destroy instead of checking the ws.readyState?

[2014-02-19 22:00] #26 closed, assigned to nobody

[2014-03-01 19:41] andrewrk opened #29 "should ws be a peerDependency ?"
http://blog.nodejs.org/2013/02/07/peer-dependencies/

[2014-03-01 21:13] #29 closed, assigned to nobody

[2014-03-08 01:11] binarykitchen opened #31 "RequireJS sucks but is wanted"
Hello there

We'd like to add websocket-stream to an existing web app based on RequireJS. Unfortunately we cannot change the whole client side code to run with browserify at this stage.

Agree, RequireJS is bad but do you think it is possible to add RequireJS support? Just the minimum for module loading.

Otherwise I'd have to copy your code, shrink it manually and add AMD support. That would be b

[2014-03-18 23:11] #21 closed, assigned to nobody

[2014-03-29 17:00] bohlander opened #33 "piping from websocket-stream ending too early"
I'm running into an issue with websocket-stream where when sending binary data through the stream from a file using pipe it closes early, and not all data is written.  I have a simple example attached that reads from a file using createReadStream on the server, and uses createWriteStream on the client.  When the input file is semi large (~1MB>) not all data is written to the file.  The interesting

[2014-06-18 04:10] #31 closed, assigned to nobody

[2014-06-19 00:21] binarykitchen opened #34 "How to get notified that data has actually been sent?"
In the source code around this line https://github.com/maxogden/websocket-stream/blob/master/index.js#L81 I can see that no callback is hooked into the `send()` call.

According to https://github.com/einaros/ws#error-handling-best-practices a callback can be added to get a notification.

Why don't we add a new event here, called `sent`? If you agree, then I am happy to submit a PR.

[2014-06-19 00:24] binarykitchen opened #35 "Flags are missing"
Looking at https://github.com/einaros/ws#echowebsocketorg-demo I can see that the `message` event also has `flags` in the parameters.

These are completely ignored in this package, see https://github.com/maxogden/websocket-stream/blob/master/index.js#L45.

I need these flags for performance measurements and internal adjustments for my webcam application.

Any suggestions?

[2014-06-19 07:17] binarykitchen opened #36 "Wrong parameter in 'error' event"
I have a funny case here. The error event gives me a wrong parameter when the server is down, unreachable.

On the client side I have

[code]

which outputs - when the server is down - following:

[code]

Why is the `err` parameter of type event??? It should be an instance of error, right?

[2014-06-23 03:51] binarykitchen opened #37 "Blob of buffer?"
I do not know and couldn't find any hard facts about this. Which one type results in less bandwidth? a) `stream.write(blob)` or b) `stream.write(buffer)`?

This for sending webcam images from the client to the server. It's not clear to me when looking at the source code and documentation of the ws and of this module.

[2014-06-23 18:44] #37 closed, assigned to nobody

[2014-08-05 01:59] binarykitchen opened #39 "Broken images"
The following code on the client is sending broken images:

[code]

when saved on the server side, the images cannot be opened and are invalid. I followed exactly the instructions but this isn't working.

[2014-08-08 02:18] #39 closed, assigned to nobody

[2014-08-24 03:51] DamonOehlman opened #40 "Emit Buffers"
As per mafintosh/csv-parser#7.  I'm happy to make a PR for this, but would like to clarify the behaviour of the `type` option given this change.

Should a Buffer only be created if a type of `Buffer` is requested, or should a buffer always be created?

[2014-09-08 21:37] RGBboy opened #41 "Streams2 update?"
Just wondering if there are any plans for this module to be updated to use streams2? I'd be up for creating a PR for this but wanted to get your input first.

[2014-09-09 00:58] #41 closed, assigned to nobody

[2014-09-09 00:59] #40 closed, assigned to nobody

[2014-09-09 01:00] #36 closed, assigned to nobody

[2014-09-09 01:01] #35 closed, assigned to nobody

[2014-09-09 01:01] #34 closed, assigned to nobody

[2014-09-09 01:02] #27 closed, assigned to nobody

[2014-09-09 01:02] #25 closed, assigned to nobody

[2014-09-09 01:02] #4 closed, assigned to nobody

[2014-09-09 01:02] #9 closed, assigned to nobody

[2014-09-09 01:18] binarykitchen opened #42 "Error: Failed to construct 'WebSocket': The subprotocol '[object Object]' is invalid."
Happens on v1.0.0 on the client side ... I think these parameters are not right

[code]

because the constructor is

[code]

[2014-09-09 01:29] #42 closed, assigned to nobody

[2014-09-09 01:48] binarykitchen opened #43 "Invalid non-string/buffer chunk"
@maxogden how would you convert an ArrayBuffer to an Array best?

With the update to v1 I am seeing `TypeError: Invalid non-string/buffer chunk` errors now when calling `stream.write(...)`

[2014-09-09 01:48] #33 closed, assigned to nobody

[2014-09-09 01:54] RGBboy opened #44 "test-client.js throws when testing"
I get the following error when testing the client:

[code]

It comes about because of the first line in test-client:

[code]

I'm guessing you have your development environment set up so this works (perhaps by using npm link?). Should this line be changed to:

[code]

or instructions be added to correctly set up the development environment?

Thanks for all the great work!

[2014-09-09 02:59] #43 closed, assigned to nobody

[2014-09-13 07:47] legastero opened #45 "Allow text frames"
The new 1.0 version seems to only send binary WebSocket frames now, because a `Buffer` instance is always passed directly to `socket.send()`.

[2014-11-04 06:52] RobinQu opened #47 "no "end" event is emitted"

[2014-11-27 03:42] binarykitchen opened #48 "Bump ws?"
Can we bump `"ws": "^0.4.32"` to v0.5?

So that npm won't complain

[code]

[2014-12-30 02:57] binarykitchen opened #50 "Thrown error has no information"
Test case: Load single-page app, shut down server and try to connect. An error event occurs but it doesn't say anything.

Here the code on the client-side (single-page app):

[code]

which will print an object blurb like that

[code]

But I expect something like that

[code]

[2015-01-03 22:10] fabiosantoscode opened #51 "pipe() and closed streams"
Shouldn't every stream's `.pipe()` method close when the piped stream is closed?

If you clone https://github.com/fabiosantoscode/websocket-stream-issue, run `node server.js`, open a connection with `wscat`, close it, open another `wscat`, and type some data, server.js will crash because pipe is trying to write to a closed socket.

All it's doing is echoing incoming messages to other sockets in a

[2015-01-04 12:38] 3sv commented on #51
I have the same issues, and also find this strange behaviour. The destroy function of the underlying stream is overwritten by a function that just closes the socket.

I have added "proxy.emit('close')" to the destroy function because this is called normally by the original stream destroy function.
In the onerror function I have added
if (err)
   self.emit('error', err)
before the destroy call.

In

[2015-01-04 16:26] madtechsupport opened #52 "Trying to get a simple echo server to work."
Hi,

Apologies if this is not the correct place to be asking this question. I'm trying to get a simple echo example to work and I don't understand why the below code doesn't work?

    var WebSocketServer = require('ws').Server
    var websocket = require('websocket-stream')
    var wss = new WebSocketServer({port: 8000})
    wss.on('connection', function(ws) {
      var stream = websocket(ws)

[2015-01-04 22:12] mafintosh commented on #51
@fabiosantoscode the repo is empty. could you upload the example?

[2015-01-05 14:52] fabiosantoscode commented on #51
Oh, my bad.

It's up there now.

[2015-01-10 15:24] mcollina commented on #52
`WebSocketServer` do not accept a `port` option, but requires a `server`, which must be an http/https server.

Here is an example: https://github.com/maxogden/websocket-stream/blob/master/echo-server.js#L20-L31

[2015-01-10 15:24] #52 closed

[2015-01-10 15:24] mcollina commented on #51
This should be fixed in 1.2.0. Please test :). Thank so much for reporting it!

[2015-01-10 15:24] #51 closed

[2015-01-11 23:23] #48 closed

[2015-01-11 23:24] binarykitchen commented on #48
Grazie mille!

[2015-01-12 03:18] binarykitchen opened #56 "After first writeOrBuffer() state.writing remains true all the time"
This is a tricky problem and I cannot locate the bug. Somehow, after upgrading to `"websocket-stream": "^1.3.0"`, my client can write only once and then nothing happens.

After some debugging I found out that `state.writing` is always true after the first write operation. This in writeOrBuffer() of `./node_modules/websocket-stream/node_modules/duplexify/node_modules/readable-stream/lib/_stream_wri

[2015-01-12 03:33] binarykitchen commented on #56
Not sure, but it seems there is a mess with the different versions of the Writable class of the readable-stream packages in duplexify and through2.

[2015-01-12 03:39] maxogden commented on #56
Hmmm weird. I can confirm the bug. Not sure what is causing it either...

On Sun, Jan 11, 2015 at 7:33 PM, Michael Heuberger <notifications@github.com

[2015-01-12 03:43] binarykitchen commented on #56
Right @maxogden ... any chance you could look into this and fix it pretty soon? It's breaking www.videomail.io :(

[2015-01-12 05:18] maxogden commented on #56
can't make any promises, for now I would recommend downgrading

On Sun, Jan 11, 2015 at 7:43 PM, Michael Heuberger <notifications@github.com

[2015-01-12 05:34] binarykitchen commented on #56
I already tried to downgrade to v1.1 - no success

[2015-01-12 07:21] binarykitchen commented on #56
Forget my above comment, I double-checked, downgrading to v1.1 worked (had to fix an npm cache issue beforehand).

Then I verified that, when upgrading to v1.2, the bug is back! So the bug must have been introduced between the versions 1.1 and 1.2

Maybe one of you can explain? @mcollina @maxogden @3sv

[2015-01-12 07:47] mcollina commented on #56
Sorry about that, I'll look into it asap: I definitely screw something up.
I am not exactly sure what's happening, as it passes all my MQTT.js
websocket tests.
Anyway, I have a strong suspect about this!

Does this happen in the Browser, right?
Il giorno lun 12 gen 2015 alle 07:21 Michael Heuberger <
notifications@github.com> ha scritto:

[2015-01-12 07:49] binarykitchen commented on #56
Great thanks. Yeah, happens in the browser (I am using it for www.videomail.io) ...

If you have eliminated the bug, please add a test case for that, thx!

[2015-01-12 07:51] mcollina commented on #56
Can you please check if the just-released 1.3.0 fixes it? It might.
Il giorno lun 12 gen 2015 alle 07:49 Michael Heuberger <
notifications@github.com> ha scritto:

[2015-01-12 07:55] binarykitchen commented on #56
Nope, v1.3 still has the bug. I already tested with v1.3 hours before. Bug is still here.

[2015-01-12 08:34] georgzoeller commented on #56
Same here.

I'm using websocket-stream as a transport for a voxel-server/voxel-client and it fails transmitting anything past the first packet with 1.2.0/1.3.0 in chrome 39.0.2171.95 m.

Downgrading to 1.1.x is working fine.

[2015-01-12 11:06] #56 closed

[2015-01-12 11:07] mcollina commented on #56
The fix is released as 1.3.1.

[2015-01-12 11:15] binarykitchen commented on #56
@mcollina Grazie mille!

[2015-01-13 05:39] binarykitchen opened #58 "stream.push() after EOF"
I am seeing this in Google Chrome:

[code]

No idea what it means. It's a special case where I have closed the stream, yet this is happening. Possible to add more context in the error?

[2015-01-13 08:38] mcollina commented on #58
Could you reproduce it reliably? May I ask you to add a test to [test-client](https://github.com/maxogden/websocket-stream/blob/master/test-client.js)?

It's a race condition (hurray!) between closing the Stream and closing the actual websocket. When you close the proxy, a `'close'` event is emitted, and [here](https://github.com/maxogden/websocket-stream/blob/master/stream.js#L35) the websocket i

[2015-01-13 10:25] binarykitchen commented on #58
Indeed, it's a race condition. Difficult to reproduce. Hence I recommend a stress test with 1000 random connections.

But you can see it yourself if you are lucky. Just open www.videomail.io on Google Chrome, expand the console under Developer tools, click on the logo (link to home) like crazy, 20 times afterwards. On each click a new websocket is generated and on every `beforeunload` window event

[2015-01-13 10:30] mafintosh commented on #58
@binarykitchen could you add a code snippet that i can run to show this error?

[2015-01-13 10:36] mcollina commented on #58
That error you see on the server side is perfectly fine. It should be emitted by the websocketstream object, and you should handle it properly. Before 1.2/1.3, either it was swallowed or it was thrown. If a connection is not closed properly and you try to send stuff, you will get that.

Yeah, a small script to reproduce will help us fixing this, otherwise is hunting in the dark.

[2015-01-13 10:38] binarykitchen commented on #58
I am afraid no. But it happens almost every time I click on www.videomail.io's logo like crazy, 20 times over again. That's why I recommend random stress tests.

All I can tell is that it's happening in this code (I removed parts which aren't relevant):
https://gist.github.com/binarykitchen/63bfeb6cc50057c1af6f

Okay, how can I examine if a connection is closed properly before creating a new one?

[2015-01-13 10:40] mcollina commented on #58
@binarykitchen you can write that random stress test.

[2015-01-13 11:15] binarykitchen commented on #58
Yeah maybe later. Too busy looking for a job / project right now :(

[2015-01-23 04:14] dcousens opened #60 "no "open" event is emitted"
Tested with the following:

[code]

No open event is omitted by `on('open', ...`.
How am I supposed to know when it is connected?

[2015-01-23 04:20] dcousens commented on #60
Should https://github.com/maxogden/websocket-stream/blob/master/stream.js#L59 be `open`?

[2015-01-23 04:22] dcousens commented on #60
Confirm it works if I use `"connect"` instead of `"open"`.

[2015-01-23 04:27] dcousens commented on #60
At worst, could this please be pointed out in the `README`?
I'm guessing since `"connect"` is given, it has some different meaning than say `"readable"`?

[2015-01-23 06:05] dcousens commented on #60
Closing, see https://github.com/maxogden/websocket-stream/pull/61

[2015-01-23 06:05] #60 closed

[2015-01-30 23:27] t-money-g opened #62 "Could not find a suitable bundler! when running beefy test-client.js"
Hello, while going through the stream adventure, I received this error when trying test the websocket-stream module:
Error: Could not find a suitable bundler!
    at onglobals (/Users/t/src/stream-adventure/node_modules/websocket-stream/node_modules/beefy/lib/setup-bundlers.js:50:18)
    at /Users/t/src/stream-adventure/node_modules/websocket-stream/node_modules/beefy/node_modules/find-global-pack

[2015-03-01 04:32] binarykitchen opened #64 "Please bump ws to avoid recompilation on reinstalls"
See https://github.com/websockets/ws/issues/461 ... thanks

[2015-03-02 14:04] #64 closed

[2015-03-02 14:06] mafintosh commented on #64
1.4.0 uses upgrades ws to 0.7.1 to fix this (thanks to @mcollina)

[2015-03-03 00:56] binarykitchen commented on #64
Grazie!

[2015-03-08 05:27] binarykitchen opened #66 "How can I set a custom header?"
On the client side, in the `websocket()` constructor, how can I set a custom header there? I need this for an API ...

[2015-03-08 05:31] maxogden commented on #66
you can pass in your own `WebSocket` instance as the first argument, so just use the browsers builtin `new WebSocket` and do whatever you want https://github.com/maxogden/websocket-stream/blob/master/stream.js#L12

[2015-03-08 05:31] #66 closed

[2015-03-08 05:34] binarykitchen commented on #66
Yes, I could do that. But the disadvantage is that I have to add `ws` as a new dependency into my project. I want to avoid this.

Why not have a third parameters `headers` in the constructor and pass this? See here
https://github.com/theturtle32/WebSocket-Node/pull/58/files

[2015-03-08 05:38] binarykitchen commented on #66
@maxogden Also you'll risk that versions of WS do not match when you add ws as an external dependency. Not so good I think.

[2015-03-08 05:50] binarykitchen commented on #66
@maxogden @mcollina Would you accept a PR?

[2015-03-08 12:41] mcollina commented on #66
It seems it might be just a `options` argument away, see https://github.com/websockets/ws/blob/master/doc/ws.md#new-wswebsocketaddress-protocols-options. In this line we pass no `options` https://github.com/maxogden/websocket-stream/blob/master/stream.js#L17.

I am ok for passing through the `options`, but nothing more. @mafintosh @maxogden what do you think?

[2015-03-08 18:24] maxogden commented on #66
yea that sounds good to me

[2015-03-08 18:55] mafintosh commented on #66
:+1:

[2015-03-09 07:01] binarykitchen commented on #66
Ok, now that you have agreed on this, here a small PR https://github.com/maxogden/websocket-stream/pull/67

@mcollina If you dig deeper, it turns out that WebSocket.js already treats the protocols argument as options under some circumstances, see https://github.com/websockets/ws/blob/master/lib/WebSocket.js#L49

[2015-03-27 23:28] substack commented on #47
I observe the same behavior. #68 seems to fix the issue, at least when the remote side disconnects cleanly.

[2015-04-12 03:12] binarykitchen commented on #36
Hmmm, I still see the same issue.

[2015-04-12 03:12] binarykitchen commented on #50
Ping?

[2015-05-09 07:42] binarykitchen opened #69 "Reconnect option?"
I do not have much background info on this one problem but I think the websocket-stream emits the `end` event after a certain timeout of inactivity.

Is this a well-known case? Can it reconnect when needed, i.E. with an option? Or better, on a `.write()` call?

[2015-06-01 02:08] binarykitchen commented on #50
@maxogden ?

[2015-06-01 02:34] maxogden commented on #50
we pass the raw error event from the websocket: https://github.com/maxogden/websocket-stream/blob/b71b1d85a046eb2bb983879e2549d426810bc9c5/stream.js#L67-L69.

you can add your own `websocket.on('close')` to get more detailed info as per the websocket spec (http://stackoverflow.com/questions/18803971/websocket-onerror-how-to-read-error-description)

[2015-06-01 02:34] #50 closed

[2015-06-01 02:47] binarykitchen commented on #50
Oh I see ... thanks!

[2015-07-13 23:19] AdrianRossouw commented on #69
apparently you need to send a ping frame every now and then, to keep things running

http://stackoverflow.com/questions/10585355/sending-websocket-ping-pong-frame-from-browser

[2015-07-13 23:35] binarykitchen commented on #69
fair enough - i ll have to solve this on the app side then

[2015-07-13 23:35] #69 closed

[2015-07-13 23:45] AdrianRossouw commented on #69
I just realized I was having related issues, and was just checking if there was an existing ticket.

The ws library that this websocket-stream depends on has a [ws.ping](https://github.com/websockets/ws/blob/master/doc/ws.md#websocketpingdata-options-dontfailwhenclosed) method, so i'll try that.

This seems to be the relevant part of the spec: https://html.spec.whatwg.org/multipage/network.html#pi

[2015-07-14 06:44] mcollina commented on #69
I think this might be a good feature to add here, so it's solved for
everybody. I wrote http://npm.im/retimer for similar purposes, and it does
not have any impact on scalability.

Max, Mathias, what do you think?
Il giorno mar 14 lug 2015 alle 00:45 Adrian Rossouw <
notifications@github.com> ha scritto:

[2015-07-14 07:36] mafintosh commented on #69
since ping is part of the spec i'd merge a PR that adds pinging to keep the socket alive

[2015-07-14 07:38] mafintosh commented on #69
@mcollina wouldn't a simple setInterval be fine here?

[2015-07-14 07:52] mcollina commented on #69
Probably :). But it would waste bandwidth (sending a ping when it's not
needed). As a server component with thousands of connections per process
that makes a difference.
I should also bench retimer vs setInterval, to make sure they perform the
same.

On second thought, the best approach here is to expose the internal ping()
method on the stream, and then have configurable setInterval thing (so you

[2015-07-14 08:14] mafintosh commented on #69
@mcollina you could skip the ping if a write was performed since the last time you pinged and still use setInterval (at max you'd ping/send data every 2x interval)

[2015-07-14 08:18] mcollina commented on #69
@mafintosh yeah :D. My usecase is probably a little too specific, (in MQTT doing 2x is invalid)

What's the interval for Websockets, @binarykitchen?

[2015-07-14 12:38] AdrianRossouw commented on #69
[engine.io has a 2500 default](https://github.com/socketio/engine.io/blob/1ecf02e32f05cf118f5506aaf704bb1059560836/lib/server.js#L40).

[2015-07-14 13:31] mcollina commented on #69
@binarykitchen @AdrianRossouw would you like to assemble a PR with that 25000 value as a default?

[2015-07-15 03:54] binarykitchen commented on #69
@mcollina after ~60 seconds of inactivity the `end` event is emitted

... you asking me to do a PR using your `retimer()`? everyone here happy about this?

[2015-07-15 04:58] AdrianRossouw commented on #69
I was actually trying to write a test that proves that it times out first, so that we know the setInterval and ping/pong resolves it. Maybe its something that only comes to place when an actual browser is involved, and the test will need to be something zuul-selenium related?

Also kind of sucks having a 1 minute timeout in a test, so I was seeing if something like [time-mock](https://www.npmjs.co

[2015-07-15 08:33] mafintosh commented on #69
Just make the timeout configurable - then the test can just use a 100ms timeout and there is no need to mock

[2015-07-15 08:34] mcollina commented on #69
@binarykitchen the setInterval thing that @mafintosh pointed out was good.

@AdrianRossouw having a unit test is awesome. A simple solution to test this is to accept a `pingInterval` option, and lower it down to 50ms or something. That should not take too much time to run in the tests. Most time mocking library have bad side effects that make the tests brittle.

[2015-07-16 14:55] AdrianRossouw commented on #69
@binarykitchen can you tell me more about which browser you are using?

I haven't been able to reproduce the timeout when running with webstream-socket running on node on both sides. The reason I'm asking is because I'm wondering whether the ping interval needs to go on the server or on the client side.

[2015-07-16 21:50] binarykitchen commented on #69
@AdrianRossouw FF v39

[2015-07-17 07:21] mcollina commented on #69
@AdrianRossouw I think this should go in the client side, and probably only on browser.

[2015-07-17 23:00] AdrianRossouw commented on #69
Yeah, so i don't think this is really possible in a standards compliant way ([stackoverflow reference](http://stackoverflow.com/questions/10585355/sending-websocket-ping-pong-frame-from-browser))

The ping/pong methods have not been exposed on the browser's WebSocket implementations, which is what WS falls back to.

You can add your own higher level ping/pong messages, which is how engine.io does

[2015-07-18 13:56] mcollina commented on #69
Basically, the reason why I never experienced this is because I use MQTT.js with its own keepalive mechanism. Awesome :).

So, it seems this is not really fixable in this module.

[2015-07-21 09:43] binarykitchen commented on #69
So, a reconnect won't be implemented and @mcollina, are you suggesting I should use MQTT.js instead?

[2015-07-21 09:44] binarykitchen commented on #69
Or would you really accept if I do a good PR?

[2015-07-21 10:26] mcollina commented on #69
I investigate this a bit more:

1. we have no way of sending pings from the browser
2. we can send pings from the server, and seems like a good practice to do so
3. `ws.ping()` works only in the server

I think we can accept a PR that exposes the `ping` method from [ws](http://npm.im/ws) - this might not be needed, but it is nice.
Then, for any `wsstream` your server receives, you can do:

[code]

[2015-07-22 06:27] binarykitchen commented on #69
Alright, I ll think about it when I have time ...

[2015-07-27 05:05] binarykitchen commented on #69
Okay, I just started to write a module but somehow fail to simulate such a timeout in my tests. Why isn't it occuring? Here is the current, experimental test code

[code]

[2015-07-28 21:07] mcollina commented on #69
@binarykitchen the problem is that's a browser thing, not a websocket one. The browser kills the ws connection if it's inactive (probably for good reasons).

[2015-07-28 21:47] binarykitchen commented on #69
@mcollina Right, the browser. How would you write such a test case then??

[2015-07-28 22:54] AdrianRossouw commented on #69
probably using something like [zuul](https://github.com/defunctzombie/zuul) and sauce labs.

[2015-07-29 00:08] binarykitchen commented on #69
not sauce labs. must be testable on localhost from command line without the need for an internet connection.

[2015-07-29 01:01] AdrianRossouw commented on #69
zuul is a test runner that will allow you to run your mocha etc. tests in browser locally, as well as being able to use sauce labs when run automatically from travis.

locally it can run via a browser you open, or via phantomjs.

[2015-07-29 01:05] binarykitchen commented on #69
does phantomjs kill the ws connection if it's inactive?

[2015-07-29 09:17] mcollina commented on #69
Folks, to run tests in the browser: https://github.com/maxogden/websocket-stream#run-the-tests

[2015-07-29 09:19] binarykitchen commented on #69
@mcollina i see, could do that - but isn't there an easier solution to automate this all in the console?

[2015-07-31 02:32] binarykitchen commented on #69
@mcollina I fail to reproduce the timeout in a test environment with Beefy.

Check out this unfinished package:
https://github.com/binarykitchen/websocket-stream-ping-pong

Run `npm install && npm test` and see, the test fails.

There is no timeout between Beefy and the server. Why?

[2015-07-31 02:34] binarykitchen commented on #69
Maybe Beefy does some pings? https://github.com/chrisdickinson/beefy/issues/93

[2015-08-10 07:32] binarykitchen commented on #69
@mcollina ping? tested https://github.com/binarykitchen/websocket-stream-ping-pong yet?

[2015-08-21 08:31] mcollina commented on #69
Unfortunately I have little time till mid-September (after nodeconf.eu)

[2015-08-22 02:19] binarykitchen commented on #69
okay, i ll wait until end of september then - really need your help and advice by then. grazie!

[2015-08-28 10:26] mcollina opened #72 "Object mode being optional"
In 2.0.0 the websocket-stream is now running in object mode. I see why this is a good default, as it allows a consistent behavior on both ends when sending data (the framing is done by ws).

How about making this setting optional? As an example, I would want to disable this for [mqtt.js](http://npm.im/mqtt).

[2015-08-28 15:27] mafintosh commented on #72
Good point. Maybe we should have objectMode exposed by a `.obj()` method like we do in through2 instead?

[code]

[2015-08-28 16:14] maxogden commented on #72
IMO object mode is a better default, how about just supporting `{objectMode: false}`

[2015-08-31 01:39] yoshuawuyts commented on #72
I think `.obj()` would be nice for consistency with `through2` / `from2` despite object mode being a better default.

[2015-08-31 14:55] mcollina commented on #72
I'm in for `objectMode: false`, it's definitely safer to assume `objectMode: true`: websocket does its own fragmentation and the like.

@yoshuawuyts The only case when this is bad is when sending big buffers (files!) or with a streaming binary protocol (like MQTT).

[2015-08-31 16:59] maxogden commented on #72
yea since websockets dont have backpressure its kind of a hack to put a stream interface on top of websockets anyway so I don't think strictly adhering to node core stream semantics is a high priority

[2015-09-14 08:19] mcollina commented on #69
Your test is failing on my machine - no error is emitted. I'm not following what that code should prove.

[2015-09-15 01:40] binarykitchen commented on #69
@mcollina exactly. after 60 seconds there should be a timeout. hence writing data from client to server after 70 seconds should emit an error here https://github.com/binarykitchen/websocket-stream-ping-pong/blob/master/test_client.js#L16

but this isn't happening. test fail because `errString` is undefined.

why?

[2015-09-15 07:01] mcollina commented on #69
I presume the timeout is much higher. You should probably dig into the websocket spec and/or a browser source code to find out.

[2015-09-15 07:03] binarykitchen commented on #69
I already did and found nothing useful. Most sources say the timeout is 60 seconds.

Maybe Beefy already does something with websockets and is messing with the test case?

[2015-09-15 07:19] mcollina commented on #69
Try without beefy.

[2015-09-15 07:30] binarykitchen commented on #69
How do you suggest to run the tests in browser + server then?

[2015-09-15 07:35] mcollina commented on #69
browserify directly and serve using some static module.
We don't really need "tests", we just need to have an on/off switch.

[2015-09-16 02:07] binarykitchen commented on #69
Just did that. No luck, but I guess it is an nginx issue:
http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout

Figuring out how to set up a test environment for that.

[2015-11-06 02:20] andywatts opened #74 "Assumes it's a server? broken as a browser client?"
index.js requires server.js
server.js creates a ws server instance.  This is undefined when in a browser.
server.js then tries to inherit prototypes from this undefined WebSocketServer.
This inherit throws an error.

test-client isn't capturing this.

[2015-11-06 08:25] mcollina commented on #74
How are you building the browserify bundle for this library?

This is working fine for me in [mqtt](http://npm.im/mqtt).

[2015-11-06 09:15] andywatts commented on #74
Using beefy, which in turn uses browserify.

Actually trying to update maxogden/voxel-client.
It's pinned to websocket-stream v0.0.5
Get the 'undefined' error when I update voxel-client to use websocket-stream v2.0.2

[2015-11-11 10:41] andywatts commented on #74
Apologies.  This was due to old beefy/browserify

[2015-11-11 10:41] #74 closed

[2015-12-05 07:39] gritzko opened #77 ""stream" vs "connection""
https://github.com/maxogden/websocket-stream/blob/master/server.js#L18

FYI, we had to do the opposite trick: "connection" is a standard event we expect from a server, so
https://github.com/gritzko/stream-url-ws/blob/master/index.js#L21

Probably you should emit both?

[2015-12-05 20:32] egirshov commented on #77
The server already emits both "connection" event (with a plain websocket) and a custom "stream" event.

[2015-12-06 16:22] jnordberg commented on #58
I'm also seeing this in node (v5.1.1), don't know if it is the same cause but I can't seem to reproduce it locally. Only happens on my server when streaming multiple large files (using @maxogden's multiplex).

[code]

[2015-12-06 17:29] mcollina commented on #58
Are you using [pump](http://npm.im/pump) to pipe your streams together?

[2015-12-06 18:36] jnordberg commented on #58
I am now :) Looks like it solved my problems, thanks!

[2015-12-06 22:50] jnordberg commented on #1
I'm using this patched socketWriteBrowser function to do this:

[code]

Not sure if this is the best way to go about this but it's been working well so far. With this patch I can upload large (>1gb) files over websockets without chrome eating all memory and cpu.

[2015-12-07 18:14] mcollina commented on #1
@jnordberg I think we should avoid to allocate a closure, it would give us more speed :). Something like:

[code]

I'm :+1: on this. PR?

[2015-12-07 19:27] jnordberg commented on #1
Neat, I didn't know you could pass along arguments to setTimeout.

I'll prepare a PR

[2016-01-18 05:55] binarykitchen opened #82 "TypeError: Type error"
This error is thrown at this line

[code]

(https://github.com/maxogden/websocket-stream/blob/master/stream.js#L30)

parameters were

[code]

User-Agent is `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36`

Any ideas?

[2016-01-18 06:08] binarykitchen commented on #82
FYI this is my app code calling your websocket function
https://github.com/binarykitchen/videomail-client/blob/develop/src/wrappers/visuals/recorder.js#L379

[2016-01-18 06:10] binarykitchen commented on #82
I guess it is related to
https://github.com/socketio/engine.io-client/pull/375

If protocols is undefined, do not pass it onto the native constructor!

[2016-01-18 06:12] binarykitchen commented on #82
@mcollina

[2016-01-18 08:35] mcollina commented on #82
From https://www.w3.org/TR/2011/WD-websockets-20110419/#the-websocket-interface:

I think that `protocols` variable needs to be omitted if `protocols` is empty, but only in Browsers.

@binarykitchen would you mind sending a PR?

[2016-01-18 22:51] binarykitchen commented on #82
Here you go
https://github.com/maxogden/websocket-stream/pull/83

Please review and be aware that https://www.w3.org/TR/2011/WD-websockets-20110419/#the-websocket-interface also does not mention of options, hence I omitted them too, but only for native WebSocket implementations.

All tested on my side, everything passes.

[2016-01-19 21:15] binarykitchen commented on #82
thanks for the comments inside the PR. have updated my PR slightly. please re-check.

[2016-01-20 14:11] #1 closed

[2016-03-07 14:16] JustinLiao1314 commented on #58
I am also this problem at node V4.2.4 websocket-stream V2.0.2.
[code]

[2016-05-02 12:01] tothandras opened #87 "WebSocket.prototype.addEventListener is not a function in latest Chrome"
An error is thrown at [line 50 in stream.js](https://github.com/maxogden/websocket-stream/blob/master/stream.js#L50).
[code]
Chrome version: `50.0.2661.94`
According to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket) `addEventListener` is not a function on WebSocket, although it still works in Chrome Canary, Mozilla and Safari.

[2016-05-02 12:03] mcollina commented on #87
Would you like to send a PR to address this?

[2016-05-02 12:04] tothandras commented on #87
Will do.

[2016-05-02 12:07] mcollina commented on #87
@tothandras thanks!!

[2016-05-02 12:08] tothandras commented on #87
Should it use `addEventListener` by default, or just replace those lines altogether?

[2016-05-02 12:10] mcollina commented on #87
We need a solution that works across browsers and in node as well. Once this is achieved, I'm fine.

[2016-05-03 10:05] tothandras commented on #87
I've done nothing, but it's there again:
[code]
Same Chrome version...

[2016-05-03 11:10] mcollina commented on #87
Weird, can we close then?

[2016-05-03 11:15] tothandras commented on #87
I am not sure, the `addEventListener ` is not part of the WebSocket standard, so it can disappear anytime.

[2016-05-03 11:23] mcollina commented on #87
I think you should bring this discussion to the ws module, and we'll follow
what they suggest.
I am against on having feature detection here (unless we have no
alternative).
Il giorno mar 3 mag 2016 alle 13:15 András Tóth <notifications@github.com>
ha scritto:

[2016-05-03 11:26] tothandras commented on #87
I agree. Will you contact them?
(Fun fact: one of my coworker still doesn't have `WebSocket.prototype.addEventListener`.)

[2016-05-03 11:28] tothandras commented on #87
Oh, I just reread your message, I will bring it up then. :)

[2016-05-03 14:23] tothandras commented on #87
It's there, but I haven't noticed: https://github.com/websockets/ws/blob/master/lib/WebSocket.js#L402-L484. I've updated the PR.

[2016-05-27 00:23] binarykitchen opened #89 "How to investigate firewall issues?"
If you look at https://github.com/mafintosh/duplexify/issues/4 I suspect there are firewall issues, breaking stream functionality maybe. Not sure. Maybe the problem has other causes?

But do you have any tricks or commands I could use to double check this?

[2016-05-28 06:38] binarykitchen commented on #89
ping? any advice would be great. it's breaking my site :(

[2016-06-02 05:58] sandro-k opened #90 "webstocket-stream fails in Web Worker"
The export in https://github.com/maxogden/websocket-stream/blob/master/ws-fallback.js fails in a Web Worker as it has no global window object.

[code]

[2016-06-04 07:21] #90 closed

[2016-06-04 07:22] #87 closed

[2016-06-05 23:56] binarykitchen opened #92 "ReferenceError: WebSocket is not defined"
Happened few times with your latest version I checked out yesterday.

Points to this line

[code]

User Agents were

Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)

and

Opera/9.80 (J2ME/MIDP; Opera Mini/4.2.23449/37.8474; U; en) Presto/2.12.423 Ve

[2016-06-06 09:02] #92 closed

[2016-06-06 09:05] mcollina commented on #92
Fixed and released as 3.2.1.

[2016-06-06 10:58] binarykitchen commented on #92
thanks guys for the super-fast patch

[2016-07-29 22:14] andrewfieldwmg opened #95 "Can this stream to multiple clients?"
I'm using another WS streaming library that only streams to one client at a time. Is it the same with this library, or can you emit a stream to all connected clients?

Thanks,
Andrew

[2016-09-01 15:52] mcollina commented on #82
Probably fixed.

[2016-09-01 15:52] #82 closed

[2016-09-19 01:04] NodeGuy opened #98 "isn't an instance of stream.Readable"
Duplex streams in Node.js [inherit from `stream.Readable`](https://nodejs.org/dist/latest-v4.x/docs/api/stream.html#stream_class_stream_duplex_1):

`websocket-stream` doesn't do this and I can't use it with generic functions that dispatch on type.

My desire is for `websocket-stream` to inherit from `stream.Readable` like duplex streams do in Node.js.

[2016-09-19 07:33] willin opened #99 "how to use in nativescript?"
[code]

nativescript is some way like react native

and there is no `window` in it.

[2016-09-19 07:57] mcollina commented on #99
We are happy to accept a pull request that enable support for nativescript.

[2016-09-19 08:04] mcollina commented on #98
I'm certain that any instance returned by `websocket-stream` is a duplex. Can you upload an example of what you are trying to achieve?

BTW, _desires_ have little room in open source.

[2016-09-29 01:11] NodeGuy commented on #98
I solved my problem a different way so I don't need this anymore, thank you.

What are you saying, pull requests carry more water than desires?  ;-)

[2016-09-29 01:11] #98 closed

[2016-10-28 15:38] desaintmartin commented on #95
I am using websocket-stream with several connected clients to stream video: no problem. :)

[2016-10-28 15:59] desaintmartin commented on #58
Hello,
Using pump is made for you only if you want to close your local stream when the websocket stream closes.
What if I don't want to close my local stream? Say I have a continous, singleton, stream (like video streaming) that I want to still continue after my last client disconnected? ;)

More seriously:
I suspect websocket-stream to still try to send (in socketWriteNode) a packet even if the c

[2016-11-14 15:52] alexellis opened #101 "Does not honour HTTP proxy"
This is used in https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/ws.js and it doesn't appear to honour the system level HTTP proxy. Is this a scenario you support or can add support for?

[2016-11-14 15:57] mcollina commented on #101
Either this goes in MQTT.js or in ws. Definitely not here. Open an issue in MQTT.js to track progress.

[2016-11-14 15:57] #101 closed

[2016-11-17 16:11] emallson opened #102 "Protocols are not set in browser when options object is used"
In `stream.js`, if the environment is a browser with native websocket support *and* the `options` object is used, `protocols` is always `null`.

This means that the library user can't set the protocol. In my case, this actually means I can't connect to the websocket server (Mosquitto via libwebsockets).

[2016-11-17 20:51] #102 closed

[2017-01-20 19:34] serapath commented on #72
Hey :-)
Is `objectMode` supported now?
I only found this issue that touches the topic. It is not listed in the readme, but it mentions:

I'm trying to send objects in electron from a render procees to the main process.

I tried to supply options `{ objectMode: true }` but when i send data
[code]
i receive
[code]

Should i alwasy call `JSON.stringify(data)` before the client sends and then `JSON.pa

[2017-01-21 16:07] mcollina commented on #72
The streams works in `objectMode`, but it can only move buffers or strings. You do not have to check the length of the transmitted packet etc before decoding. Object encoding/decoding is left to you to do.

[2017-02-07 20:01] marvinroger opened #105 "Insecure Randomness in ws 1.x"
See https://snyk.io/vuln/npm:ws:20160920

Solution: Update to v2.x

[2017-02-15 12:42] antoniobusrod commented on #105
Or update to https://github.com/websockets/ws/releases/tag/1.1.2 if you want to stay at v1

[2017-02-15 12:54] mcollina commented on #105
It's already picking it, closing https://github.com/maxogden/websocket-stream/blob/master/package.json#L29.

[2017-02-15 12:54] #105 closed

[2017-02-15 12:54] antoniobusrod commented on #105
However, this update will be installed automatically from minor release update in `ws@1.1.2`. I don't know if this a issue in **snyk**, because it should be solved after update `node_modules`.

[2017-02-15 12:57] mcollina commented on #105
Yes it's a problem with snyk, 1.1.2 is safe to use.

[2017-03-14 03:04] simplygreatwork opened #107 "Multiple Duplex Streams per Connection?"
I'm currently evaluating using websocket-stream. One of the nicer aspects of using socket.io is that you can return a response back to any emitter - and it gets routed back to that callback handler. Does websocket-stream support multiple duplex streams (channels) per connection? If not, what's the best approach?

[2017-03-14 07:40] mcollina commented on #107
You can use http://npm.im/multiplex or http://npm.im/tentacoli on top.

[2017-03-14 07:40] #107 closed

[2017-03-14 13:58] simonmcl opened #108 "Upgrade to ws v2.0.0+ to remove deprecation warnings"
Hi,

I'm using a node_module that depends on one of your versions. The version of `ws` that your latest release is using, is using an outdated version of `bufferutil`. On Node.js v6.0.0+ this version of bufferutil is producing a large stack trace in the console with deprecation warnings.

ws v2.0.0 bumped up the support of bufferutil to the minimum version needed to fix the issue. Would you be abl

[2017-03-14 14:04] mcollina commented on #108
@simonmcl https://github.com/maxogden/websocket-stream/pull/106. Please review.

The problem of ws v2.0.0 is that it requires node v4.5.x minimum. I do not know if @mafintosh or @maxogden are happy with that. **I am not**, as I think it's unneeded disruption of the community.
I have some modules that depends on this one, and the chain of bumping major version numbers is costly.

Anyway, I'm open t

[2017-03-30 08:01] arden opened #109 "websocket-stream could support uWebsockets?"
websocket-stream could support uWebsockets?

[2017-03-30 10:30] mcollina commented on #109
As always, PRs are welcome.

[2017-03-31 01:48] ORESoftware opened #110 "question - use case - need help"
hey @maxogden!

my question is whether this module might fit my use case - I can't tell.

What I want to do is send data from the browser to a server, and I want to be able the stream that data to a writable stream on a Node.js server. That seems to be what this module is all about.

I don't see a need to load this library's code in the browser - I just have a standard websocket client in the brow

[2017-03-31 08:14] mcollina commented on #110
that's exactly fine. You can also use it in the browser, if you want to, but that's up to you. It works with straight websockets.

[2017-03-31 08:14] #110 closed

[2017-03-31 18:17] ORESoftware commented on #110
Ok, *but* if you use a websocket client in the browser how do you signal that the stream is ended or closed? If I am not mistaken the readme could use that that info.

[2017-03-31 18:22] ORESoftware commented on #110
For example, on the server we have this:

let websocket = require('websocket-stream')
let wss = websocket.createServer({server: someHTTPServer}, function handle(stream) {
  fs.createReadStream('bigdata.json').pipe(stream)
});

on the client I have:

[code]

so as you can see, I think it's unclear how to close/end/finish the stream coming from the client.

Am I right? Should this be added to the re

[2017-04-01 10:55] mcollina commented on #110
@ORESoftware this does not work with socket.io. For socket.io, just use socket.io server counterparts. You can use https://developer.mozilla.org/it/docs/WebSockets on the browser.

[2017-04-01 18:27] ORESoftware commented on #110
@mcollina thanks, if I use  https://developer.mozilla.org/it/docs/WebSockets, how do I signal that the read stream has ended?

[2017-04-02 08:27] lpinca commented on #108
We can make ws use [`safe-buffer`](https://github.com/feross/safe-buffer) and support all node v4 versions but that's it. Node.js 0.10 and 0.12 reached EOL since quite some time now.

`ws@1` works but keeping using it is not a good idea imho. A lot of bugs have been fixed in version 2.

[2017-04-02 09:48] mcollina commented on #108
ws v2 has a very different API, and it embraces ES6 fully.

Most of those bug fixes did not require a change of the external API, nor a change in the supported version of Node.

I'm open if anyone wants to help, as it seems I am the only one maintaining this.

[2017-04-02 09:53] lpinca commented on #108
What? No, there are no API changes apart from `ws.ping()` and `ws.stream()` which are not used here and only ES6 features supported in Node.js 4 are used.

[2017-04-02 10:19] lpinca commented on #108
Some things like https://github.com/websockets/ws/pull/871, https://github.com/websockets/ws/issues/651, https://github.com/websockets/ws/pull/885 required a major version bump.

Backporting all the possible fixes (some can't be backported) to 1.x is an option but again I see no reason to do that since node 0.10 and 0.12 are no longer supported.

Anyway the decision on whether to upgrade or not is

[2017-04-02 10:52] mcollina commented on #108
@lpinca if what you said was true, it would have only required 1 minute to prepare a PR. Instead, all tests went red, and I spent roughly 1 hour to figure out why in all cases. Most of those changes were done to adopt ES6 classes and lingo, rather than actual feature changes.

Anyway, having safe-buffer in ws and supporting node 4.0.0 would help us in migrating.

[2017-04-02 12:45] lpinca commented on #108
@mcollina from your PR https://github.com/maxogden/websocket-stream/pull/106/files?w=1 the only really required changes I see are due to the inheritance with ES6 classes. The use of ES6 classes is documented as breaking change in ws@2.

This [one](https://github.com/maxogden/websocket-stream/pull/106/files?w=1#diff-25b269b34a37ff2e3e4d86f351782b5dR20) is a bug in ws@2. It should be fixed and a reg

[2017-04-02 14:47] mcollina commented on #108
I think we have a different idea of API changes then. Those two side-effects were not simple to debug, if you consider the only reason for upgrading was a security fix.

I also think that changing the inheritance model forces people to change existing, working code for no benefit. This is my personal taste, and I do not like being forced to do work. I tend to dislike ES6 classes very much for this

[2017-04-02 15:09] lpinca commented on #108
Yeah probably. If a fix break existing code because the code was relying on faulty behavior it's a breaking change but it's not an API change imho. The interface is exactly the same.

I partially agree on this even if I think there are also some nice benefits.

We are well aware that `ws@1` is still widely used and that's why we did backport the most important fixes but I recommend migrating as so

[2017-04-02 16:46] mcollina commented on #108
Yup! That code worked fine in the browser too, so I fear the problem is in ws@2 and ws@1 was the correct behavior.

Yeah, we'll do that when we bump the major here.

That was the most compelling reason, but keep the dependencies up-to-date is good :).

[2017-04-02 16:53] mcollina commented on #110
from the server side or the client side?
you just call `end()` on the server side (or just wait for the piped source to finish) or you call `close()` on the client side if the data is flowing from the client to the server.

[2017-04-02 17:35] lpinca commented on #108
It seems that you use two different functions, one for ws and one for the [browser](https://github.com/maxogden/websocket-stream/blob/92871ebf2b0a3407376c5faec1ffcfd38acc14ab/stream.js#L76-L93) so I'm not sure.

If you call `ws.send()` after calling [`destroy()`](https://github.com/maxogden/websocket-stream/blob/92871ebf2b0a3407376c5faec1ffcfd38acc14ab/stream.js#L122-L124) which in turn calls `ws.

[2017-04-02 19:11] ORESoftware commented on #110
ok thanks, calling` close()` on the client side is the information I am looking for - I think this should be mentioned in the readme, don't you think?

[2017-04-02 19:16] mcollina commented on #110
This is the standard Websocket interface.
Where would you see this documented? Would you like to send a PR?

[2017-04-02 19:25] cordovapolymer commented on #109
@arden yes it would be usefull for MQTT.js https://github.com/mqttjs/MQTT.js/issues/490

[2017-04-02 20:18] ORESoftware commented on #110
Yeah I will send a PR once I get it working with my own implementation

[2017-04-03 08:25] binarykitchen opened #111 "what to do when WS is not a constructor?"
for some exotic browsers i want to support, like opera, i see the `WS is not a constructor` error.

do you think you could add a workaround for that? if not, what else would you suggest in my place?

[2017-04-03 08:27] binarykitchen commented on #111
silly me, wrong repo. will do this in https://github.com/websockets/ws

[2017-04-03 08:28] mcollina commented on #111
no worries.

[2017-04-04 07:51] binarykitchen commented on #111
sorry, reopening. moving this back here from https://github.com/websockets/ws/issues/1060

i guess it has something to do with the ws-fallback.js file.

[2017-04-05 18:47] alexleonescalera opened #113 "require('ws').Server causes undefined error on client"
I'm using this library with React Native via aws-iot-device-sdk. React Native uses browser WebSockets, therefore it is going for the `ws-fallback.js` instead of the `ws` package.

https://github.com/maxogden/websocket-stream/blob/master/server.js#L3 is failing since the browser WebSocket object doesn't have a `Server` property.

[2017-04-06 08:41] mcollina commented on #113
I do not think `'ws'` can run on react-native. You should check with them.

cc @lpinca.

[2017-04-06 08:41] #113 closed

[2017-04-06 08:47] lpinca commented on #113
Yes, in this case you should use the native WebSocket object which obviously doesn't work as a server.

[2017-04-06 15:56] alexleonescalera commented on #113
Thanks for the feedback. I was thinking more between the lines of conditionally include the server code inside the index.js. Something like:

[code]

[2017-04-06 16:00] mcollina commented on #113
because of [this line](https://github.com/maxogden/websocket-stream/blob/master/package.json#L41) this should be done by your bundler. We may need some special directives for react-native., something like: https://github.com/nodejs/readable-stream/blob/master/package.json#L44.
Would you mind firing up a PR that address this issue?

[2017-04-06 16:03] alexleonescalera commented on #113
Sure, I'll look into it and send a PR. Thanks for the info.

[2017-04-07 11:14] mcollina commented on #108
Released as 4.0.0

[2017-04-07 11:14] #108 closed

[2017-04-07 11:16] mcollina commented on #111
we do not have a ws-fallback here. What do you mean?

[2017-04-07 12:15] lpinca commented on #111
https://github.com/maxogden/websocket-stream/blob/master/ws-fallback.js

I guess the Opera version is too old, for example in 11.50 you had to enable WebSocket manually to have the `WebSocket` object.

@binarykitchen you should download Opera version that is giving you trouble, open the console and check if there is a global `WebSocket` available.

[2017-04-07 16:19] cordovapolymer opened #114 "this.once is not a function after browserify build of 4.0.0"
this.once is not a function after browserify build of 4.0.0, it was ok in prior versions

[2017-04-07 16:42] RangerMauve commented on #114
Was this a browserify build or a react-native build? What version of browserify are you using and what are the configuration options that were passed in?

[2017-04-08 00:54] binarykitchen commented on #111
damn, cannot reproduce this anymore. wish i had noted down the exact opera version.

but still, i wonder what the recommendation is when `ws` being null is returned here https://github.com/maxogden/websocket-stream/blob/master/ws-fallback.js ?

maybe throw an exception somewhere saying that "your browser does not support WebSockets" or something like that?

[2017-04-08 01:06] binarykitchen opened #115 "Question: when will I know writes are being throttled?"
This in relation to the `browserBufferSize` option so that I can fine tune it for my videomail app.

[2017-04-08 01:09] binarykitchen opened #116 "Confusion about perMessageDeflate in Readme"
When you recommend in your Readme that it's recommended to set `perMessageDeflate` to false for best throughput, then why is its default set to true?

Any reasons for this? And on a side note, I wonder when it's not recommended to set it to true?

[2017-04-08 05:43] lpinca commented on #111
I think it makes sense.

[2017-04-08 08:10] mcollina commented on #115
At this point there is no way to know. However, you can send a PR and add this feature:

https://github.com/maxogden/websocket-stream/blob/master/stream.js#L118-L121.

The problem is that `ws.send()` does not have a callback in the browser.

[2017-04-08 08:11] mcollina commented on #116
cc @lpinca

[2017-04-08 08:41] lpinca commented on #116
The extension has been added in `ws@0.6` (https://github.com/websockets/ws/pull/409) and since then it has always been enabled by default. I honestly don't know why, I wasn't a collaborator at the time but it wasn't a good idea imho.

A lot of modules now assume that permessage-deflate is enabled so we avoided adding an unnecessary breaking change in `ws@2`.

permessage-deflate basically kills `ws

[2017-04-08 11:32] cordovapolymer commented on #114
@RangerMauve , I tried building with browserify 14.1.0 and 14.3.0, I'm using it with https://github.com/arian/partition-bundle, here's the build script:

[code]

[2017-04-08 11:42] mcollina commented on #114
I've released readable-stream 2.2.9. Can you please check if it solves the problem?

[2017-04-08 11:52] cordovapolymer commented on #114
@mcollina , yes it's resolved thank you!

[2017-04-08 11:52] #114 closed

[2017-04-09 03:30] binarykitchen commented on #116
i see and need a recommendation from you if you don't mind? should i enable or disable `perMessageDeflate` for the following scenario?

in www.videomail.io i am sending image frames through a pipe over this websocket-stream to the server at an FPS of 15. each frame is about 7kB.

[2017-04-09 05:55] lpinca commented on #116
Most services make you pay for only for outgoing bandwidth and I assume that those image frames are already compressed so I think you should definitely disable permessage-deflate.

Anyway I would check what's the difference with permessage-deflate on and off, calculate the costs and decide based on this info.

[2017-04-12 18:08] alexleonescalera commented on #113
FYI: opened an issue on React Native:
https://github.com/facebook/react-native/issues/13474

[2017-04-23 01:42] binarykitchen commented on #116
i'd like to clarify few things here. obviously it is documented that you can set the `perMessageDeflate` option here: https://github.com/maxogden/websocket-stream#optionspermessagedeflate

but when you are using the native implementation

[code]

then this option is never passed on because its native implementation does not support `options` as a third parameter, see https://github.com/maxogden/we

[2017-04-23 05:36] lpinca commented on #116
@binarykitchen the extension is negotiated so you can just disable it on the server.
It can be disabled on the client because `ws` / `websocket-stream` can be used only as client to connect to a server you don't control.

[2017-04-23 10:58] binarykitchen commented on #116
oh i see ... ok, i tried to disable that on server side and tested again. but i still see `Sec-WebSocket-Extensions: permessage-deflate` in the response header, see screenshot:

![selection_003](https://cloud.githubusercontent.com/assets/177641/25312889/24a8db46-2878-11e7-9124-43cb6b287cc8.png)

does disabling it really works and is tested?

[2017-04-23 11:12] binarykitchen commented on #116
ah, never mind, i figured it out. was using the wrong constructor :)

[2017-04-23 11:12] #116 closed

[2017-04-24 01:50] binarykitchen opened #117 "Duplicate writes? *unsure*"
This is something I am unsure about but am suspecting a bug.

On the server side I have something like

`stream.write(JSON.stringify({"command":"confirmSample","args":{"sample":116}}))`

where I am sending commands to the client counterpart in form of JSONs.

Figured out that, somehow in the stream and between the pipes, something gets blocked and multiple JSONs arrive on the client. And they all

[2017-04-25 13:26] JeromeVi opened #118 "[Question] Why there is "xterm" in the name of this code ? Does it fit well with xterm.js ?"
Hi,
I'm working with [Xterm.js](https://github.com/sourcelair/xterm.js) but at this moment I have some troubles to open X terminals with X streams.

So I typed : xterm multiple streams on Google and I got https://www.npmjs.com/package/websocket-stream-xterm who is your code. Then I searched into it but I can't find any xterm things...

So could you help me to understand that ?

Thank you

[2017-04-25 13:28] mcollina commented on #118
We do not maintain that package. I am not sure why it points here.

[2017-04-25 13:28] #118 closed

[2017-04-25 13:29] JeromeVi commented on #118
Okay so it's nice to know. Have a nice day

[2017-05-01 08:46] mcollina commented on #117
@binarykitchen as of version 4, you should be setting `objectMode` if you expect the stream to respect the boundaries of the chunk when doing its own fragmenting: https://github.com/maxogden/websocket-stream#optionsobjectmode.

However, messages should not get duplicated, you might get exceptions. Are you able to reproduce, so I can have a look?

[2017-05-01 11:18] binarykitchen commented on #117
@mcollina grazie ... but i do not understand this re objectMode:

"Send each chunk on its own, and do not try to pack them in a single websocket frame."

shouldn't each chunk be sent on their own anyway? like in my case, i have the problem that sometimes same chunks exist and are breaking my app. that's why i had to use `split2(JSON.parse)` to dedupe duplicate chunks.

do you think you can tell us

[2017-05-01 13:31] mcollina commented on #117
Since v4.0.0, websocket-stream behaves as a true binary stream, so it will chunk things based on its internal buffering. If you enable objectMode, each write() will be in its own frame.

[2017-05-01 21:49] binarykitchen commented on #117
can you expand a bit more on that or at least document in the readme, especially the difference between those two modes? when to pick binary stream, when to pick object mode?

and for my videomail.io app which sends 95% of all times compressed images and 5% commands in form of json objects, all through the same websocket connection, which one mode do you recommend?

[2017-05-02 11:38] brettz9 opened #119 "Slightly cooler API"
How about allowing the handler to be checked for a return (stream) value?

[code]

[2017-05-02 12:10] mcollina commented on #119
It would to be aware of the direction of the returned stream, if its's readable and/or writable. I think you can easily build a module on top of this one, as this is nice and simple.

[2017-05-02 12:10] #119 closed

[2017-05-02 13:46] mcollina commented on #117
can you add a snippet on how you use `websocket-stream`?

It seems to me you need some sort of protocol on top of it to distinguish between images and commands. What is that?

[2017-05-02 22:20] binarykitchen commented on #117
umm, to be precise videomail.io has this:
-> client sends commands in form of jsons and image frames to server
<- server only sends commands in form of jsons to client

the crucial code on the server side to distinguish between a json and an image frame is this

[code]

and just in case if you want to know, this is how i create the websocket server:

[code]

then i listen to new connections like t

[2017-05-03 05:29] mcollina commented on #117
For that you will need to be using `objectMode: true`, because there are no boundaries between one or the other.

[2017-05-03 10:13] binarykitchen commented on #117
ah, thanks. i didn't understand its meaning before.
so, should i set objectMode on server only, or also on the client?

[2017-05-03 10:32] mcollina commented on #117
in both, yes.

[2017-05-03 10:39] binarykitchen commented on #117
hmm, ok. but didn't we say in another issue that the server should be dominating when it comes to options?

[2017-05-03 10:41] mcollina commented on #117
that's not an option on the protocol, that's an option on the stream.

[2017-05-03 10:42] binarykitchen commented on #117
hmmm, good to know. i think the readme is a bit confusing on this matter. would be good to outline which option is for the server, which is for the client or for both.

[2017-05-03 11:37] mcollina commented on #117
All the option are valid everywhere. But the deflate one is subject to the server enabling it.

[2017-05-03 21:43] binarykitchen commented on #117
add that to readme?

[2017-05-04 07:30] mcollina commented on #117
Yeah, would you mind sending a PR?

[2017-05-05 05:28] binarykitchen commented on #117
here u go https://github.com/maxogden/websocket-stream/pull/120

[2017-05-05 08:20] mcollina commented on #117
Closing

[2017-05-05 08:20] #117 closed

[2017-05-07 10:19] danxn opened #121 "How to forward one client connection to another?"
Hello!

I'm learning websocket-stream module not for a long time yet, so may be my question is a bit stupid - sorry for this.

I need to forward one client websocket connection with VNC stream (https://github.com/novnc/noVNC) to another client websocket connection on one websocket server. Now I'm doing such thing for JSON and Base64 encoded images "manually" - by resending messages with JSON and B

[2017-05-08 11:05] mcollina commented on #121
Hi Dan,

What you want to achieve is probably possible, but it is not simple to
achieve it in a scalable manner. How many connections are you planning to
support?

As for a technical pointer, if you are sending a stream of binary data,
converting them to JSON or base64 is probably slow.

Matteo
Il giorno dom 7 mag 2017 alle 12:19 danxn <notifications@github.com> ha
scritto:

[2017-05-08 16:37] danxn commented on #121
Hello, Matteo!

Understood, thank you very much for answer.

Well, for now I need this for few "tunnels": 1-4. I'm working on IoT/Embeddable network electronic systems for home/local area automation. It is very interesting possibility to use for this purpouse few webcams, connected to some kind of single-board mini-computer (RaspberryPI, OrangePI, BananaPI, NanoPI, Odroid, Cubieboard etc) - to use

[2017-05-09 02:39] binarykitchen opened #122 "Sometimes takes very long time to connect"
With your latest code and nginx 1.10 inbetween, it can happen that the `onopen` event handling is triggered after one min (!)

Any reasons what this could be? Hints welcome so that I can investigate deeper ...

[2017-05-09 17:47] mcollina commented on #122
no idea. Maybe you should ask to some nginx folks as well.

[2017-05-09 20:56] mcollina commented on #121
You can try http://npm.im/multiplex or http://npm.im/tentacoli.

[2017-05-09 21:50] binarykitchen commented on #122
i think the problem is deeper. when i use `wscat` in command line to see how responsive a websocket is, then it always responds. must be something else.

not sure if this is related but didn't happen before i switched to `objectMode: true`

[2017-05-10 04:53] danxn commented on #121
Thank you very much.

[2017-05-10 04:53] #121 closed

[2017-06-04 01:54] binarykitchen opened #124 "Difficulties when packaging your module with rollup (es6)"
Trying to switch from gulp to rollup in my videomail-client project but build fails with a websocket-stream related error saying:

[code]

the rollup config I am using is in this incomplete, experimental branch:
https://github.com/binarykitchen/videomail-client/blob/feature/rollupjs/env/dev/rollup.config.js

the whole output is

[code]

1. have you every managed to rollup an es6 enabled project wi

[2017-06-04 06:16] mcollina commented on #124
Unfortunately no, and I have never used rollup as well.

[2017-06-04 06:16] #124 closed

[2017-06-06 16:31] mvayngrib commented on #50
@mcollina i think this is where this issue https://github.com/mqttjs/MQTT.js/issues/623 starts. It would be good to propagate the CloseEvent, rather than the faceless Event from onerror

@maxogden i might be wrong, but isn't onerror always followed by onclose, which has a better error? Can we wait a tick in onerror to see if we get onclose with an error, and destroy using that error instead?

[2017-06-06 16:51] mcollina commented on #50
the codebase has changed completely since this, so I very much doubt it.

[2017-06-06 16:53] mvayngrib commented on #50
hm, well i don't see the 'close' event propagating an error from here, as the stream is destroyed in onerror. And the MQTT client only pays attention to the error event emitted by 'close'

[2017-06-06 17:04] mcollina commented on #50
@mvayngrib can you send a PR to fix it? I'm not understanding what the problem is.

[2017-06-06 17:39] mvayngrib commented on #50
@mcollina maybe just take look at a sketch here: https://github.com/maxogden/websocket-stream/compare/master...mvayngrib:closeerror

does that clear things up or the opposite? :)  Unfortunately, this means that test-client.js tests fail, because the closeEvent.wasClean === false when the stream is terminated (as opposed to closed via a WebSocket close handshake)

[2017-06-06 18:12] mcollina commented on #50
@mvayngrib how are the test failing? I think you need to add a bit more logic so that only one error get emitted. I think you might be calling `destroy()` twice right now.

[2017-06-06 18:17] mvayngrib commented on #50
@mcollina i think both `proxy` and `duplexify` prevent destroy from actually running twice. Anyway, it's the same in the current implementation, I don't think i changed anything in that sense.

the test fails because in test-client.js, when stream.end() / stream.destroy() is called the resulting CloseEvent has wasClean === false, which in my fork ends up emitting an unhandled 'error' event.

[2017-06-06 19:39] mvayngrib commented on #50
@mcollina nm, that's my bad, i didn't read the README carefully so i wasn't running the client tests correctly. My closeerror branch seems to pass the tests just fine, so i'll try to add a differentiating test

[2017-06-06 19:53] mvayngrib commented on #50
@mcollina added differentiating test https://github.com/maxogden/websocket-stream/pull/125

the MQTT client issue will need to be solved separately. Maybe it can ignore the underlying stream's 'error' events unless they're instances of CloseEvent?

[2017-06-09 06:42] Fuzzyma opened #126 "can this library catch up a stream created by captureStream from a canvas element?"
Actually the title already says all: Is it possible to use the stream created by `canvas.captureStream(fps)` and relay it to a server with this library?

[2017-06-09 06:50] mcollina commented on #126
I do not know, maybe @feross knows.

[2017-06-14 19:47] billouboq opened #127 "Is there any exemple or tutorial ?"
I'm currently working on an app that use websocket with ws module and I would like to stream data easily, so this module seems to do that.

I read the readme but I can't figure out how to send the stream to an other client or multiple one or how to send it to a specific one.

Is there any documentation or exemples out there?

[2017-06-14 19:57] billouboq commented on #127
Hmm just have to dig more in node stream api, and test it on my own. Sorry for the issue

[2017-06-14 19:57] #127 closed

[2017-06-22 05:30] feross commented on #126
You would need some intermediate glue code, since the stream that comes from `captureStream` is a media stream, a type of opaque browser object that can only be used with other APIs that support them.

You can use the browser MediaRecorder API to get the raw bytes from the stream, then turn them into a node.js stream and then pipe them to whatever node.js stream you want, including `websocket-stre

[2017-07-04 06:28] binarykitchen opened #128 "no such file or directory, open 'stream'"
Initially reported in https://github.com/calvinmetcalf/rollup-plugin-node-builtins/issues/31#issuecomment-312427554, the following error is really weird:

[code]

looks like the es6 bundler rollup is trying to find the stream.js file but can't find it. But it does exist in your repo. Btw I have aliased it like that `readable-stream:'stream'`

Not sure if websocket-stream can be bundled at all with

[2017-07-04 06:29] binarykitchen commented on #122
not happening anymore, changing objectMode did the trick

[2017-07-04 06:29] #122 closed

[2017-07-04 07:48] mcollina commented on #128
I am not a rollup user, but I think you are close. Keep working on it.

BW, the stream.js file here is not what "readable-stream" exports.

Also, require("readable-stream") has a slightly different API to require("stream"), so it might be that the two are incompatible.

[2017-07-08 01:51] binarykitchen commented on #128
thanks ... trying hard here but am also close to give up :/

[2017-08-06 20:47] moshest opened #130 "Add an example of express-js"
Using `express-ws` module:

[code]

[2017-08-06 22:12] fleksin opened #131 "Not able to run test-server.js"
Never mind, Figured it out

[2017-08-06 22:16] #131 closed

[2017-08-07 13:06] mcollina commented on #130
Can you send us a PR?

[2017-08-07 15:13] moshest commented on #130
Please see #132.

[2017-08-07 15:13] #130 closed

[2017-09-26 08:28] roccomuso opened #133 "realtimecats.com doesn't work"
The example on the homepage doesn't work. Probably for a `realtimecats.com` issue.
I've tested it successfully with `wss://echo.websocket.org`.

This the error:
[code]

[2017-09-26 09:37] mcollina commented on #133
Ouch, would you mind sending a PR to fix it? Maybe pinging echo.websockets.org.

[2017-09-29 17:36] maxogden commented on #133
It's a joke domain :D

[2017-09-30 23:25] #133 closed

[2017-10-31 21:12] binarykitchen opened #136 "[Question] Impact of Latency on websocket streams"
Wondering if there is any prior research on latency here?

Considering moving the www.videomail.io server to another country which will increase latency for 90% of all my clients. Because www.videomail.io relies heavily on your websocket-stream code, I'd be better careful here. How badly will more latency impact on websocket-stream's performance? Or can this be ignored since it affects initial pag

[2017-11-01 08:30] mcollina commented on #136
There is very little here that impacts latency. However, websocket suffers from the problem you are describing.

I will recommend to deploy a videomail on multiple servers throughout the world to avoid any latency problem.

[2017-11-01 08:43] binarykitchen commented on #136
Well I meant the other way around. How will a higher latency like 30 more milliseconds impact websocket stream performance?

For example during initialisation only until stream emits the first data event. Or will it also slow down every single frame which goes through the pipe?

[2017-11-01 08:46] mcollina commented on #136
There is no prior research for that. However, I do not expect any difference from a TCP socket.

[2017-11-01 09:38] binarykitchen commented on #136
Really no research? Should I better as on the ws repo https://github.com/websockets/ws ?

And do you know by coincidence how latency impacts a TCP socket in short?

[2017-11-01 10:58] mcollina commented on #136
There is no research done in the impact of this module on latency. On websocket there is plenty, I would recommend to google around.

[2018-01-06 00:59] binarykitchen opened #137 "[Question] How to measure bandwidth?"
Has anyone an idea how one could measure the bandwidth when using websocket-stream? Like having a number after a short time, a getter or event that emits me the number.

Could come in very handy for collecting data, especially edge cases why a certain error has happened.

[2018-01-06 09:59] mcollina commented on #137
Unfortunately no :/.

[2018-01-19 00:16] binarykitchen commented on #137
Found an old implementation how to measure bandwidth in a stream:
https://github.com/pmarques/node-stream-bandwidth/blob/master/index.js

Maybe can give us some ideas

[2018-01-19 00:24] binarykitchen commented on #137
Or this one:
https://github.com/bookchin/myspeed

[2018-02-17 01:35] binarykitchen opened #138 "Error event emits without error object"
In my videomail client code this strange thing sometimes happens: no error object is emited along with the error event.

Like

[code]

Don't you agree, it should have an error object? An error without an error is not an error :)

[2018-02-17 01:36] binarykitchen commented on #138
Btw in the stack trace I can see this happens when queue is drained and `Duplexify._destroy` is called.

[2018-02-18 00:04] binarykitchen commented on #138
i am afraid, due to wrong configs, browserify sourcemaps are broken on production, hence this stack trace is kinda cryptic and not very useful:

[code]

[2018-02-18 07:34] mcollina commented on #138
Let us know if you can reproduce this reliably and/or have a better stacktrace.

[2018-02-18 08:11] binarykitchen commented on #138
I'm afraid very hard to reproduce. Happens by random on a heavy traffic site.

Do you have a guess what this could be?

[2018-02-18 08:21] mcollina commented on #138
Not really. Did it happen with the latest version of readable-stream? Can you try to roll that back?

[2018-02-18 15:24] DmitryMyadzelets opened #139 "The stream loses data"
In this use case we send a file. All data are lost if the file is small, or send partially if the file is big.

How to reproduce:

[code]

[2018-02-18 20:35] binarykitchen commented on #138
how? not using readable-stream anywhere in the videomail-client code

[2018-02-18 21:57] mcollina commented on #138
Duplexify is relying on readable-stream internally.

[2018-02-18 22:26] mcollina commented on #138
Did this happen after a very recent deploy? I released a new version a week ago.

[2018-02-18 22:27] binarykitchen commented on #138
no, happened before as well

[2018-02-18 22:32] mcollina commented on #138
then no, that's not the problem. We really need a stacktrace and/or a good way to reproduce.

[2018-02-18 22:34] binarykitchen commented on #138
ugh, this will be difficult for me.

is there a useful tool/package to inspect/record a stream of all its events/data it had till the error was emitted?

[2018-02-19 21:29] DmitryMyadzelets commented on #139
Found the the data written to the stream are just [ignored unless the socket is connected](https://github.com/maxogden/websocket-stream/blob/master/stream.js#L93). What is a rationale behind such decision?

[2018-02-20 09:36] mcollina commented on #139
This module is very old, and there might not be a good rationale behind some of the code. If you want to help maintaining this you are welcome to propose a change.

[2018-02-22 02:50] Juul commented on #138
As far as I can tell websocket-stream doesn't originate any errors itself but does propagate errors from the underlying WebSocket which of course is just a plain TCP socket, so your null errors could be either coming from the `ws` module or from the browser.

[2018-02-27 09:30] binarykitchen commented on #138
@Juul @mcollina ok now i always can reproduce this. and it is on iphones only:

1. open www.videomail.io on safari
2. allow camera, initiate connection blahblah
3. hit the sleep button on your iphone
4. let it sleep for at least one min
5. unlock and it should reopen same site on safari
6. now you see that weird error

i expect websocket-stream to resume but not to throw an error. or at least thro

[2018-02-27 10:10] mcollina commented on #138
I think this is a safari-mobile specific bug. If you can get a stacktrace, we can definitely generate a new error if it's not provided by the platform.

[2018-02-27 10:21] binarykitchen commented on #138
hard to get a stack trace here i am afraid - do you have any other examples running online producing valid stacktraces i could test from my iphone?

[2018-02-27 10:25] mcollina commented on #138
You should be able to use Remote Web Inspector.

[2018-02-28 00:25] binarykitchen commented on #138
good idea. turns out it is an event object, not an error object itself.

this screenshot tells more:
<img width="1253" alt="screen shot 2018-02-28 at 13 21 40" src="https://user-images.githubusercontent.com/177641/36762940-be4fbd30-1c8a-11e8-9f7d-51a94b7bac22.png">

when debugging deep down, looks like

[code]

is the starting point. and funny is that `this` references to the global Window where `

[2018-02-28 09:13] mcollina commented on #138
@binarykitchen let us know if you can send a fix!

[2018-02-28 20:32] binarykitchen commented on #138
dont know if i can.

`socket.onerror` <-- what instance is socket here in the browser?

its implementation has to be questioned here.

[2018-02-28 20:32] mcollina commented on #138
it's a WebSocket

[2018-02-28 20:33] binarykitchen commented on #138
native implementation?

[2018-02-28 20:38] mcollina commented on #138
the WebSocket from the browser.

[2018-02-28 20:41] binarykitchen commented on #138
okay, sounds like it's an ios bug of its websocket implementation ... where to start best?

[2018-02-28 20:49] mcollina commented on #138
You should probably work around that in your code.

[2018-02-28 20:53] binarykitchen commented on #138
already have but then, what if other non-ios browsers truly emit an error instead of an event during stream errors? then my app code gets complicated just because of ios weird websocket error handling?

[2018-02-28 23:09] mcollina commented on #138
unfortunately yes.

[2018-02-28 23:43] binarykitchen commented on #138
alright :(

... btw have reported to apple as well and will keep you posted here.

[2018-03-02 00:21] DmitryMyadzelets commented on #139
With modern `Node.js` making a stream over a WebSocket (`ws` module) seems [quite simple](https://github.com/DmitryMyadzelets/slip-stream/blob/master/tests/ws-stream.js) for a [trivial use case](https://github.com/DmitryMyadzelets/slip-stream/blob/master/tests/websocket.js).

May a complete refactoring be considered?

[2018-03-02 13:29] mcollina commented on #139
As long as the API stays similar and the tests passes, I see no problem.

[2018-07-03 09:05] grahamtallen commented on #95
@desaintmartin Do you have any example code you could show for this? i'm trying to stream audio from the web bug can't figure out how to pipe the audio data into the web socket

[2018-08-31 02:52] anderspitman opened #143 "Flow control"
Does `websocket-stream` provide an backpressuring, or at least is there any way to close down the stream from the receiving side to tell it to stop sending? My sender is making my receiver run out of memory.

[2018-08-31 06:06] mcollina commented on #143
in theory yes. Can you make an example?
Il giorno ven 31 ago 2018 alle 04:52 Anders Pitman <notifications@github.com>
ha scritto:

[2018-11-04 09:01] AppLover69 opened #144 "Add TypeScript definitions?"
Could be done here in an `index.d.ts` file (doesn't require installing another package) or in https://github.com/DefinitelyTyped/DefinitelyTyped

[2018-11-04 10:31] mcollina commented on #144
would you like to send a PR?

Il giorno dom 4 nov 2018 alle 09:01 AppLover69 <notifications@github.com>
ha scritto:

[2019-01-24 14:38] scarry1992 opened #146 "Loses objectMode part of logic. Don't work cork/uncork"
When I create a stream with option objectMode: false, I lose cork/uncork part of logic. That's happens in duplexify in https://github.com/maxogden/websocket-stream/blob/master/stream.js#L76. When I remove that initial stream by duplexify and leave stream = proxy only, everything works well. Can you tell me why you are doing stream by duplexify and what benefits it gives. And maybe I can help resol

[2019-02-03 03:50] dhirajtech86 commented on #143
Guys any update on this. I am facing same issue @anderspitman. My scenario is that my sender socket client is written in c#. There is receiver client which is in node written using ws and websocket stream. Then there is a middle server which pipe the connection with both sender and receiver. This server is also written in node with ws and websocket-stream. When I pipe in this middle server, then d

[2019-02-03 04:45] anderspitman commented on #143
@mcollina sorry I somehow missed that you had responded. I ended needing a language-independent solution, but thanks for your efforts.

@dhirajtech86 I've spent quite a bit of time working on this. Unfortunately the WebSocket protocol doesn't include any built-in flow control, so you have to do backpressuring at the application level using something like websocket-stream. However, like you, I want

[2019-02-04 07:59] mcollina commented on #143
If Node.js is the target receiver, I would recommend to use http2 instead.

This library is just a wrapper on top of https://www.npmjs.com/package/ws. So, you might want to open an issue there to check how to handle flow control situation on the receiver side. We can handle these on the sending side because of the callback to `send()`.

[2019-02-04 12:42] anderspitman commented on #143
@mcollina unfortunately the browser is a primary target for my case. I see that you're [using bufferedAmount](https://github.com/maxogden/websocket-stream/blob/3f39dcbc098f661ee12d7deba297b1420a0a0e07/stream.js#L105) with a timeout. When I was looking into this my research indicated that bufferedAmount works very differently between browsers and can't really be relied on for flow control. Have you

[2019-02-04 12:42] #143 closed

[2019-02-07 23:45] anderspitman commented on #143
@dhirajtech86 I just discovered [rsocket](http://rsocket.io/) today. They already have JS and .NET support and should be able to do everything you need.

[2019-02-09 07:23] dhirajtech86 commented on #143
@anderspitman Thanks, will have a look into it.

[2019-03-27 00:01] binarykitchen opened #148 "v5.2.0 is breaking ... can't say exactly what"
This with your latest v5.2.0 breaking my www.videomail.io app - had to revert back to 5.1.2

Afraid I can't exactly say what it is.

[2019-03-27 00:02] binarykitchen commented on #148
If it helps, objectMode is set to true here

[2019-03-27 10:34] mcollina commented on #148
Reverted in v5.3.0.

@scarry1992 can you please send the PR again?

[2019-03-27 10:38] scarry1992 commented on #148
@mcollina, I remove my fork already. What going on?

[2019-03-27 10:40] mcollina commented on #148
It seems your changes are breaking @binarykitchen.

[2019-03-27 10:44] scarry1992 commented on #148
ok then, I remake PR. But what case breaks my changes?

[2019-03-27 10:57] scarry1992 commented on #148
@mcollina, https://github.com/maxogden/websocket-stream/pull/149. Ok?

[2019-03-28 04:04] binarykitchen commented on #148
sorry guys, been busy. trying to give you more information here to reproduce:
1. git clone https://github.com/binarykitchen/videomail-client
2. run example with `yarn start`, all works fine
3. bump websocket-stream dependency to 5.2.0
4. try one example again, it fails, behaves differently (always connecting)

i've also opened console and can see a different sequence of events emitted

before (whe

[2019-03-31 16:23] nuhamind2 commented on #148
I am getting bunch of `self is undefined` and `state is undefined` using 5.30, work OK with 5.12

[2019-04-01 23:04] benjamincburns commented on #144
#150 submitted to address this.

[2019-04-03 02:56] AlexStacker commented on #148
After upgrading to 5.3.0, the version number of the `readable-stream` library used is 3.0, which makes mqtt not work properly. It seems that the `process-nextick-args` is removed. Can it be solved as soon as possible?

[2019-04-03 09:09] AlexStacker commented on #148
By setting the webpack node environment variable is already ok
![QQ截图20190403170625](https://user-images.githubusercontent.com/7822744/55467132-3c823d80-5633-11e9-9bcb-6990a4175153.png)

[2019-04-06 11:13] mcollina commented on #148
Should be fixed in 5.4.0

[2019-04-06 11:13] #148 closed

[2019-04-06 11:13] mcollina commented on #146
This should be fixed, right?

[2019-04-06 11:26] scarry1992 commented on #146
@mcollina, do you read last comment in pr in websocket-stream? With cork logic first writing packet in stream separated for two socket frames. I would like your help for resolve it. I attached screenshots with callstacks of two writing operations.

[2019-04-06 11:38] mcollina commented on #146
Sorry I didn’t understood the problem or your comment. Can you rephrase it please, and maybe post a PR with a failing test?

[2019-04-06 11:44] scarry1992 commented on #146
Sorry, test was been written and he is passed. But testing pr with mqtt.js shows - every packet was been separated for two chunks. And I attached two screenshots for getting your help;)

[2019-04-06 11:50] mcollina commented on #146
I have no clue given those screenshots. I’ll need an example that say “yes/no” to check things out. This way to complex to debug for the time I have available.:

[2019-04-06 11:55] scarry1992 commented on #146
Ok then, I will attach example at Monday, ok?

[2019-04-06 12:35] mcollina commented on #146
sure!

Il giorno sab 6 apr 2019 alle 13:55 scarry1992 <notifications@github.com>
ha scritto:

[2019-04-09 12:46] mcollina commented on #146
Can you paste the code of the server?

[2019-04-09 13:00] scarry1992 commented on #146
@mcollina, I can`t share code of my server, but test same with wss://iot.eclipse.org:443/ws

[2019-04-09 13:09] scarry1992 commented on #146
@mcollina, I mean using with mqtt.js

[2019-04-20 14:33] #144 closed

[2019-05-21 00:57] limjiregister commented on #111
I got this issue too. when I used wepback4.x to build, and ran it by 'node main.js'， this error happened. How to fixed it?

[2019-08-16 20:19] dfoverdx commented on #111
@limjiregister My solution was setting the `target: 'node'` in my `webpack.config.js` file.

[2020-04-09 12:41] j78742 opened #155 "Error event judgement in file 'stream.js'"
// Nodejs WebSocketServer cause memory leak
  // Handlers like onerror, onclose, onmessage and onopen are accessible via setter/getter
  // And setter first of all fires removeAllListeners, that doesnt make inner array of clients on

  var eventListenerSupport = ('undefined' === typeof socket.addEventListener)

The sign ‘===’  in this line of code should change to ‘!==’.

[2020-04-23 18:14] TekuConcept opened #156 "websocket-stream's TypeScript produces errors - ws package TypeScript updated."
[code]
should become
[code]
in `index.d.ts` to avoid TypeScript errors. Or better yet, because Server extends WebSocket.Server, these should be removed all together (unless it is currently serving a greater purpose).

Looks like PR #152 resolves this issue.

[2020-07-13 12:19] orgads commented on #156
@mcollina?

[2020-07-21 12:56] whyisitworking opened #158 "Typescript createServer typing not correct"
In index.d.ts

[code]

Should become

[code]

Since the callback is missing the parameter, typescript isn't allowing to pass a handler function

[2020-07-26 08:53] orgads commented on #156
@TekuConcept I think the reason for this duplication is for preserving the return type, to allow e.g. `server.on('error', onError).on('stream', onStream)`.

[2020-08-08 19:27] shaunco opened #161 "Typescript definition is broken if @types/express-ws is in the same package.json"
When @types/express-ws (`npm install --save-dev @types/express-ws`) is added to the same Typescript project that uses websocket-stream, `tsc` produces the following:
[code]

The fix seems to be changing `index.d.ts` from:
[code]

to:
[code]

which matches the typings for `WebSocket.Server`

[2020-09-05 13:55] kursatarslan commented on #82
I have same issue.
![image](https://user-images.githubusercontent.com/9142092/92306549-9c9fb080-ef98-11ea-8da2-0395bd4f7ba5.png)

[2021-08-21 16:25] pedrosanta opened #162 "Security vulnerability GHSA-6fc8-4gx4-v693 on ws ^3.2.0 dependency"
Hello, dependabot just warned me on one of my repositories that `"ws": "^3.2.0"` has this security vulnerability: https://github.com/websockets/ws/security/advisories/GHSA-6fc8-4gx4-v693

The closest fixed version is `5.2.3`.

Any upgrade path planned for this?

I'm going to try to help as much as I can, but I'm not familiar with the codebase of the project (just arrived here), but if I can be of

[2021-09-02 18:46] RangerMauve commented on #162
@mafintosh @mcollina Would you like any help getting this fixed? Some of my modules are affected by it so I'd be happy to help with the upgrade.

It seems like this would make DoS really easy for anything using websocket-stream for servers which could be annoying.

[2021-09-02 20:10] mcollina commented on #162
@RangerMauve this module needs a lot more maintenance than just this fix. ws ships with its own server implementation for the streams, so there is no need to use it all.

Anyway, if I can add you as an owner on npm. I would recommend pushing to your own repo because we do not have owner rights here.

[2021-10-20 19:31] Maximvdw commented on #161
still an issue 1 year later

[2022-11-09 01:56] #62 closed